@page "{id?}"
@using cocktails.Interfaces
@inject IOrderService OrderService
@model OrdersModel
@{
    ViewData["Title"] = "Ordinazioni";
    var olist = OrderService.GetOrders();
}

<div class="text-center">
    <h1 class="display-4">Scodatore</h1>

    <table class="table table-striped table-bordered w-auto">
        <thead>
            <th style="text-align:left"> Cocktail </th>
            <th style="text-align:left"> Alcolizzato </th>
            <th style="text-align:left"> Ordinato </th>
            <th style="text-align:left"> Completa </th>
        </thead>
        @foreach (var o in olist)
        {
            <tr>
                <td style="text-align:left"> @o.Cocktail </td>
                <td style="text-align:left"> @o.UserName </td>
                <td style="text-align:left"> @o.Dto </td>
                <td style="text-align:left">
                    @if (o.Stato == "New")
                    {
                        <a class="btn btn-primary" asp-page="" asp-route-id="@o.Id">Fatto!</a>
                    }
                    else
                    {
                        @o.Dto_Completato
                    }
                </td>
           </tr>
        }
    </table>
</div>
